body
{
    background-image: url(sky.jpeg);
    font-family: 'Source Sans Pro', sans-serif;
    color: #6c6c6c;
    margin: 0px;
    padding: 0px;
}

  a:link {
    color: #6c6c6c;
  }
  a:visited {
    color: #6c6c6c;
  }
  a:hover {
    text-shadow: 0px 0px 5px white;
    color: #6c6c6c
  }

  a:active {
    color: #6c6c6c;
  }


.ekran
{
    margin: auto;
    padding: auto;
}
.tekst
{
    font-size: 20px;
    color: #d7d7d7;
    text-shadow: 2px 2px 5px #ff00ff;
    float:left;
    margin-left:10%;
    margin-top:5%;
    animation-name: kolor;
    animation-duration: 4s;
    animation: kolor 2.5s infinite;
    text-align: left;
    position: relative;
    
}
@keyframes kolor {
    0%   {text-shadow: 2px 2px 5px red;}
    33%  {text-shadow: 2px 2px 5px #00ffed;}
    66%  {text-shadow: 2px 2px 5px #444444;}
    100% {text-shadow: 2px 2px 5px #ff00ff;}
  }

.nav
{
    float:left;
    background-color:hsl(0, 0%, 20%,65%);
    opacity: 1;
    border-right: 5px solid #333333;
    width: 4em;
    height: 180%;
    position: fixed;
}

.navicon
{
    margin: auto;
    padding: 1%;
    margin-top: 500%;
}

.navsocial
{
    margin: auto;
    padding: 1%;
    margin-top: 300%;

}

.aktualna:hover
{
  text-shadow: 2px 1px 8px #00ffee;
  color: #00ffee;
}
.aktualna
{
  text-shadow: 0px 0px 8px #00ffee;
  color: #00ffee;
}
.aktualna:active
{
  text-shadow: 0px 0px 8px #00ffee;
  color: #00ffee;
}
.aktualna:visited
{
  text-shadow: 0px 0px 8px #00ffee;
  color: #00ffee;
}
.aktualna:link
{
  text-shadow: 0px 0px 8px #00ffee;
  color: #00ffee;
}

@media screen and (max-width: 420px)
{
.nav
{
  width: 3em;
}
.tekst
{
  font-size: 10px;
  margin-left:25%;
}
.navsocial
{
margin-top:100%;
}
.navicon
{
  margin-top:400%;
}
}
@media screen and (max-width: 321px)
{
.nav
{
  width: 3em;
}
.tekst
{
  font-size: 10px;
  margin-left:25%;
}
.navsocial
{
margin-top:100%;
}
.navicon
{
  margin-top:270%;
}
}
@media screen and (max-width: 680px) and (min-width:421px)
{

.tekst
{
  font-size: 15px;
  margin-left:25%;
}
.navsocial
{
margin-top:150%;
}
}
@media screen and (max-width:1025px) and (min-width:681px)
{

.tekst
{
  font-size: 25px;
  margin-left:20%;
  
}
.navsocial
{
margin-top:150%;
font-size:28px;
}

.navicon
{
padding:0%;
}
}
